<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<center>
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getFirstName() + ', ' + user.getLastName()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${'Username: ' + user.getUsername()}">VALUE</p>
<p th:text="${'Password: ' + user.getPassword()}">VALUE</p>


<!--<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">-->
<!--  <input type="submit" value="Delete"/>-->
</form>

<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>

</body>
  <center>
</html>